bert_score==0.3.13
contractions==0.1.73
dask==2024.8.2
dspy==2.6.13
gensim==4.3.3
joblib==1.4.2
langdetect==1.0.9
numpy==2.2.4
ollama==0.4.7
openai==1.67.0
pandas==2.2.3
pyarrow==16.1.0
pyfiglet==1.0.2
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.6.1
sentence_transformers==3.4.1
spacy_download==1.1.0
termcolor==2.5.0
tqdm==4.66.5
ujson==5.10.0
